/* 2.4.1comment page - CSS */

body * {
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

button {
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
}

.screen {
  display: flex;
  width: 375px;
  height: 812px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden; /*이래도 scroll 되나..?*/
}

/*top*/

.statusbar {
  height: 47px;
  text-align: center;
}

.topnav {
  display: flex;
  height: 51px;
  padding: 6px 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid var(--primary-001, #ff5722);
}

.topnav_inframe {
  display: flex;
  width: 354px;
  height: 39px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.icon_container {
  display: flex;
  width: 39px;
  height: 39px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title {
  color: var(--primary-002, #e64a19);
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*button*/

#filterbutton {
  /*button*/
  display: flex;
  width: 53px;
  height: 19.054px;
  padding: 3px 5px;
  margin: 25px 30px;
  justify-content: space-between;
  align-self: flex-start;

  align-items: flex-start;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--primary-001, #ff5722);
  background: var(--back-004, #fff);

  position: relative;

  /*text*/
  color: var(--primary-001, #ff5722);
  text-align: center;

  font-family: "Pretendard Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

/*comment*/
/* 스크롤 */
.comment_section {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 0 28px;
  box-sizing: border-box;
}

.comment_container {
  display: flex;
  flex-direction: column;
  width: 318px;
  padding: 5px;
  overflow: visible;
  margin-bottom: 10px;
  height: auto;
}

/*comment_card 동적 크기 조정*/
.comment_card {
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  min-height: 100px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.container1 {
  display: flex;
  height: 18.213px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#nickname {
  width: auto;
  height: auto;
  color: #000;
  /* Caption/12 */
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit {
  display: flex;
  gap: 8px;
}

.editbutton {
  display: inline-flex;
  height: 18.213px;
  padding: 3px 9px;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: var(--text-002, #757575);

  color: #fff;
  text-align: center;

  /* Caption/10 */
  font-family: "Pretendard Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin: 20px 0px 12px 0px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.comment {
  align-self: stretch;
  color: #000;

  /* Caption/10 */
  font-family: "Pretendard Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.container3 {
  display: flex;
  gap: 15px;
  margin-top: auto;
}

/* 이거 버튼 활성화 비활성화 스타일링은 다시 해주세요! */
a.nonreactbutton,
a.reactbutton {
  display: flex;
  padding: 4px 7px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 20px;
  border: 0.5px solid var(--text-003, #bbb);
  background: var(--back-004, #fff);

  text-align: center;
  /* Caption/10 */
  font-family: "Pretendard Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  cursor: pointer;
}

a.reactbutton {
  background: rgba(255, 87, 22, 0.5);
  color: #fff;
  border: 0.5px solid var(--primary-001, #ff5722);
}

a.nonreactbutton {
  color: black;
  background: var(--back-004, #fff);
}

/*input*/

.input_container {
  bottom: 0;
  left: 0;
  display: flex;
  width: 375px;
  height: 70px;
  padding: 13px 28px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  flex-shrink: 0;

  border-radius: 20px 20px 0px 0px;
  background: #fff;
  box-shadow: 0px -4px 10.8px 0px rgba(115, 115, 115, 0.25);
}

.input_button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 11px 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--primary-001, #ff5722);
}

#message {
  display: flex;
  width: 225px;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #f5f5f5;

  /*예?????/*/
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*가운데 정렬*/
#mention {
  display: flex;
  margin: auto;
  color: #000;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-items: center;
}
