{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>온보딩 1-1</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'starts/start4.css' %}" />
  </head>
  <body>
    <main class="wrapper">
      <header class="progress-area">
        <div class="progress-bar">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar active"></span>
        </div>
        <a href="{% url 'accounts:accountpage' %}" class="skip">건너뛰기</a>
      </header>

      <section class="content">
        <h1 class="title">
          새내기 옷차림 실수,<br />
          너굴선배와 함께 미리 방지해요
        </h1>

        <img
          src="{% static 'img/1.1.3.png' %}"
          alt="너굴선배 캐릭터"
          class="mascot"
        />

        <a href="{% url 'accounts:accountpage' %}" class="nextbtn">시작하기</a>
      </section>
    </main>
  </body>
</html>
