{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>너굴선배 랜딩</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'starts/start1.css' %}" />
  </head>

  <script>
    setTimeout(function() {
      window.location.href = "{% url 'starts:start2' %}";
    }, 3700);
  </script>

  <body>
    <main class="wrapper">
      <section class="card">
        <h1 class="title">
          <span class="black">새내기의 실수, </span><br />
          <span class="orange">너굴선배</span>
          <span class="black">가 막아줄게</span>
        </h1>
        <img src="{% static 'img/1.0.png' %}" alt="너굴선배 일러스트" class="mascot" />
        <h2 class="brandname">너굴선배</h2>
      </section>
    </main>
  </body>
</html>
