<nav class="navbar-container">
    <!-- mainpage 연결-->
    <a class="navbar-link" href="{% url 'main:mainpage' %}">13th 오늘은's note</a>

<div class="nav-right">
    {% if user.is_authenticated %}
    <!--로그인 시 보이는 화면-->
    <ul class="nav-link-account">
        <li class="nav-link-user">{{user.username}} 님 안녕하세요!</li>
        <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
        <li><a href="{% url 'users:mypage' %}">mypage</a></li>
    </ul>
    {% else %}
    <!--로그아웃 시 보이는 화면-->
    <ul class="nav=link-account">
        <li><a href="{% url 'accounts:login' %}">로그인</a></li>
        <li><a href="{% url 'accounts:signup_step1' %}">signup</a></li>
    </ul>
    {% endif %}
</div>

</nav>