<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1.2 회원가입/로그인</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}" />
  </head>

  <body>
    <main class="screen">
      <div class="mention">
        <img src="{% static 'img/1.2raccoon.png' %}" height="180" width="180" alt="너구리" />
        <span id="mention1">너굴선배가 알려주는</span>
        <span id="mention2">새내기들을 위한 룩 가이드</span>
      </div>

      <div class="button_container">

        <form action="{% url 'accounts:signup1' %}" method="get">
        <button class="button" id="signup_button" type="submit" > <!-- disabled 뺐으니 JS하고 다시 추가하세요-->
          회원가입
        </button>
        </form>

        <form action="{% url 'accounts:login' %}" method="get">
        <button class="button" id="signin_button" type="submit" > <!-- disabled 뺐으니 JS하고 다시 추가하세요-->
          로그인
        </button>
        </form>
      </div>
    </main>
  </body>
</html>
