<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1.4.1 로그인</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
  </head>

  <body>
      <main class="screen">

        <!----------top---------->
        <div>
          <div class="statusbar">statusbar</div>
          <div class="topnav">
            <div class="topnav_inframe">
              <a href="{% url 'accounts:accountpage' %}" class="icon_container"><!--accounts 페이지들 간에 url 함수 작업 필요해요. 이후 a 태그로 수정해서 url 연결할 예정!-->
                <img src="{% static 'icons/arrow_left.svg' %}" height="39" width="39" alt="arrow_left" />
              </a>
              <p class="title">로그인</p>
              <div class="icon_container"></div>
            </div>
          </div>
        </div>

        <!----------안내멘트---------->
        <div class="mention">
          <span id="mention">반가워요! 너굴선배와 만날 준비 되셨나요?</span>
        </div>

        <!----------로그인 form---------->
        <form class="form" action="{% url 'accounts:login' %}" method="post">
          {% csrf_token %}
          <!--▼ 아이디-->
          <div class="input_container">
            <label class="label" for="username">아이디</label>
            <div class="input_frame">
              <input
                id="username"
                type="text"
                name="username"
                class="input"
                placeholder="아이디를 입력하세요"
              />
              <img src="{% static 'icons/account_default.svg' %}" height="24" width="24" alt="default"/>
            </div>
          </div>
          <!--▼ 비밀번호-->
          <div class="input_container">
            <label class="label" for="password">비밀번호</label>
            <div class="input_frame">
              <input
                id="password"
                type="text"
                name="password"
                class="input"
                placeholder="비밀번호를 입력하세요"
              />
              <img src="{% static 'icons/account_default.svg' %}" height="24" width="24" alt="default"/>
            </div>
          </div>
          <!--▼ 버튼-->
          <button class="button" type="submit">로그인하기</button> <!-- disabled뻈어요 JS 추가하면 다시 넣으셔요-->

          <!--▼ 에러메세지-->
          {% if error %}
            <p class="error">{{ error }}</p>
          {% endif %}

        </form>

        <script>

        </script>

      </main>
  </body>
</html>
