{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 일단 백엔드에서 기본 구조 잡아놨어용 :> -->

<form action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    <p>username</p>
    <input type="text" name="username">
    <br>

    <p>password</p>
    <input type="password" name="password">
    <br>

    <p>confirm</p>
    <input type="password" name="confirm">
    <br>

    <p>nickname</p>
    <input type="text" name="nickname">
    <br>

    <p>gender</p>
    <input type="radio" name="gender" value="M" checked> 남성
    <input type="radio" name="gender" value="F"> 여성
    <br>

    <p>email</p>
    <input type="email" name="email">
    <br>

    <input type="submit" value="회원가입" style="margin-top: 20px;">
</form>

{% endblock %}