{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5.1.1 내가 쓴 댓글 보기</title>
    <link rel="stylesheet" href="{% static 'users/MyCommentPage.css' %}" />
</head>

<body>
    <main class="screen">

        <!----------top---------->
        <div>
            <div class="statusbar">statusbar</div>
            <div class="topnav">
                <div class="topnav_inframe">
                    <a href="{% url 'users:mypage' %}" class="icon_container">
                        <img src="{% static 'icons/arrow_left.svg' %}" height="39" width="39" alt="arrow_left" />
                    </a>
                    <p class="title">내가 쓴 댓글 보기</p>
                    <div class="icon_container"></div>
                </div>
            </div>
        </div>
 
        <!--이거 scroll용 외곽 container인데 수정 필요해보임 (월요일에 수정 예정)-->
            <!----------내가 작성한 댓글---------->
        {% if comments %}
        <div class="comment_container">
            {% for comment in comments %}
            <!-----댓글카드----->
            <div class="comment_card">
                <!--▼ 닉네임, 수정/삭제 버튼-->
                <div class="container1">
                    <div id="nickname">{{ user.profile.nickname }}</div><!--닉네임이 안떠요 DB 확인? 필요해요-->
                    <div class="edit">
                        <a href="{% url 'main:edit' comment.id %}?next={{request.path}}" method="POST" class="editbutton">수정</a>
                        <a href="{% url 'main:delete' comment.id %}?next={{request.path}}" method="POST" class="editbutton">삭제</a>
                    </div>
                </div>
                <!--▼ 이미지 삽입, 댓글 작성 내용-->
                <div class="container2">
                    {% if comment.image %}
                    <img class="image" src="{{ comment.image.url }}" alt="Comment Image" />
                    {% endif %}
                    <div class="comment">{{ comment.content }}</div>
                </div>
                <!--▼ 좋아요/아쉬워요 버튼-->
                <div class="container3">
                    <a href="{% url 'main:likes' comment.id %}" class="reactbutton">
                        <img src="{% static 'icons/good.svg' %}" height="10" width="10" alt="좋아요" />좋아요 {{comment.likes.count}}
                    </a>
                    <a href="{% url 'main:dislikes' comment.id %}" class="reactbutton">
                        <img src="{% static 'icons/bad.svg' %}" height="10" width="10" alt="아쉬워요" />아쉬워요 {{comment.dislikes.count}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--------댓글 없을 때 화면---------->   <!--이거 순서 위랑 바꿔도 되나요? 사실 사소해요 꼭 안 바꿔도 됨-->
        
        {% else %}
        <span id="mention">아직 댓글이 없어요! <br> 댓글을 남겨보세요</span>
        {% endif %} 

    
    </main>
</body>

</html>