{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>2.3 이벤트별 전체 룩가이드</title>
  <link rel="stylesheet" href="{% static 'main/LookCardPage.css' %}" />
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
</head>

  <body>
      <main class="screen">

        <!----------top---------->
        <div>
          <div class="statusbar">statusbar</div>
          <div class="topnav">
            <div class="topnav_inframe">
              <a href="{% url 'main:previouspage' %}" class="icon_container">
              <img src="{% static 'icons/arrow_left.svg' %}" height="39" width="39" alt="arrow_left"/>
              </a>
              {% for lookcard in lookcards %}
              {% if forloop.last %}
              <p class="title">{{ lookcard.event.title }} 가이드</p>
              {% endif %}
              {% endfor %}
              <div class="icon_container"></div>
            </div>
          </div>
        </div>

        <section>
        <!---------------------------------가이드 외곽 container 시작-------------------------->

        <div class="guide_container">
            {% for lookcard in lookcards %}
            {% if forloop.last %}
            <!--▼ event 제목 및 멘트-->
            <h1>{{ lookcard.event.title }}<span>{{ lookcard.event.description_look | linebreaksbr }}</span></h1>
            {% endif %}
            {% endfor %} <!--lookcards 반복문 끝-->

            <!--▼ lookcard-->
            <div class="lookcard">
              {% for lookcard in lookcards %}  
              <!-- 가장 마지막 룩카드면 밑줄이 뜨지 않도록 설정 -->
              {% if forloop.last %} 
              <div class="lookcard_inframe_last">
              <!-- 마지막 룩카드가 아니라면 밑줄로 룩카드를 구분 -->
              {% else %}
              <div class="lookcard_inframe">  
              {% endif %}
                {% if lookcard.event.title == '시험기간' %}
                <!--▼▼ event 제목-->
                <div class="looktitle">{{ lookcard.event.title }} | {{ lookcard.semester }}</div>
                {% elif lookcard.event.title == '발표' or lookcard.event.title == '과팅 | 미팅' %}
                <div class="looktitle">{{ lookcard.event.title }}</div>
                {% else %}
                <div class="looktitle">{{ lookcard.event.title }} | {{ lookcard.month }}</div>
                {% endif %}
                
                <!--▼▼ 룩가이드 제시-->
                
                {% for item in lookcard.items.all %}
                <div class="lookguide">
                  <p style="font-size: 18px;">{{ item.category }}{% if item.name != 'A' %}: {{ item.name }}{% endif %}</p>
                  <p style="font-size: 12px;">{{ item.tags }}{% if item.description %}<br><span>{{ item.description|linebreaksbr }}</span>{% endif %}</p>
                </div>
                {% endfor %}

                <!--▼▼ 추천/비추천-->
                <div class="lookmention">
                  <p id="recommend"><img src="{% static 'icons/recommend.svg' %}" height="28.331" width="28.342" alt="추천" />{{ lookcard.is_recommend }}</p>
                  <p id="nonrecommend"><img src="{% static 'icons/nonrecommend.svg' %}" height="28.33" width="28.33" alt="비추천" />
                     <span>{{ lookcard.is_avoid }}<br><span style="color: #757575; font-size: 10px; font-weight: 400;">{{ lookcard.avoid_reason }}</span></span></p>
                </div>

              </div>
              {% endfor %}
              <!--lookcards 반복문 끝-->
            </div>
        </div>
        <!-------------------------------▲ 가이드 외곽 container 끝---------------------------------------->
      

          {% for lookcard in lookcards %}
          {% if forloop.last %}
         <!----------article---------->         
          <article>
            <!--▼ 말풍선-->
            <div class="neoguri_comment">
              <img src="{% static 'icons/Union.svg' %}" alt="말풍선"/>
              <p>{{ lookcard.event.mention|linebreaksbr }}</p>
            </div>
            <img src="{% static 'img/2.3raccoon.png' %}" alt="너구리" class="neoguri_img"/>
          </article>
          {% endif %}
          {% endfor %}
          <!-- 너굴선배가 알려주는 룩 가이드 멘션 -->

        <!----------버튼---------->
        <a class="button" href="{% url 'main:comment_page' lookcards.first.id %}">
          <img src="{% static 'icons/comment.svg' %}" height="24" width="24" alt="댓글" />의견 남기기
        </a>
        </section>
      </main>
  </body>

</html>

<style>
h1 span {
  color: var(--text-002, #757575);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -1px;
}

</style>
