{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>수정중..</h3>

<form action="{% url 'main:edit' comment.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% if comment.image %}
    <div>
        <p>현재 이미지:</p>
        <img src="{{ comment.image.url }}" alt="현재 이미지" width="150">
    </div>
{% endif %}

<p>새 이미지:<input type="file" name="image"></p>    
<p>내용 : <textarea type="text" name="content" cols="30" rows="10">{{ comment.content }}</textarea></p>    <button type="submit">제출</button>
</form>

{% endblock %}