{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>2.3 룩가이드 노출</title>
  <link rel="stylesheet" href="{% static 'main/LookCardPage.css' %}" />
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
</head>

  <body>

      <main class="screen">

        <!--top-->
        <div>
          <div class="statusbar">statusbar</div>
          <div class="topnav">
            <div class="topnav_inframe">
              <a href="{% url 'main:mainpage' %}" class="icon_container">
              <img src="{% static 'icons/arrow_left.svg' %}" height="39" width="39" alt="arrow_left"/>
              </a>
              <p class="title">{{ lookcard.event.title }}가이드</p>
              <div class="icon_container"></div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="container1">
            <div class="mention">
              <span id="mention1">{{ lookcard.event.title }}</span><!--p태그?-->
              <span id="mention2">{{ lookcard.description }}</span>
            </div>
            <div class="lookcard_container">
              <div class="lookcard_inframe">
                <div class="looktitle">{{ lookcard.sub_title }}</div>
                
                <div class="lookguide">
                    <div id="lookguide1">
                      {% for item in lookcard.items.all %}
                      <span>{{ item.category }}:{{ item.name }}</span>
                      {% endfor %}
                    </div>
                    <div id="lookguide2">
                      {% for item in lookcard.items.all %}
                      <span>{{ item.tags }}</span>
                      <span>{{ item.description }}</span>
                      {% endfor %}
                    </div>
                    
                </div>
                
                <div class="lookmention_container">
                <div class="lookmention">
                    <img src="{% static 'icons/recommend.svg' %}" height="28.331" width="28.342" alt="추천" />
                    {{ lookcard.is_recommend }}
                </div>
                <div class="lookmention">
                    <img src="{% static 'icons/nonrecommend.svg' %}" height="28.33" width="28.33" alt="비추천" />
                    <div class="nonrecommend_container"><span id="nonrecommend1">{{ lookcard.is_avoid }}</span><span id="nonrecommend2">{{ lookcard.avoid_reason }}</span></div>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container2">
            <div class="neoguri_comment">
              <img src="{% static 'icons/Union.svg' %}" height="42.754" width="247.261" alt="말풍선" />
              <div id="neoguri_comment">neoguri comment</div>
            </div>
            <div class="neoguri">
              <img src="{% static 'img/2.3raccoon.png' %}" height="42.754" width="247.261" alt="너구리" /></div>
          </div>
        </div>

          <a class="button" href="{% url 'main:comment_page' lookcard.id %}">
            <img src="{% static 'icons/comment.svg' %}" height="42.754" width="247.261" alt="댓글" />의견 남기기
          </a>
        </main>

  </body>
</html>
