/* 5.1.1mycomment page - CSS */

/*body * {
  border: 1px solid black;
}*/

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.screen {
  display: flex;
  width: 375px;
  height: 812px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid black;
}

/*top*/

.statusbar {
  height: 47px;
}

.topnav {
  display: flex;
  height: 51px;
  padding: 6px 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid var(--primary-001, #ff5722);
}

.topnav_inframe {
  display: flex;
  width: 354px;
  height: 39px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.icon_container {
  display: flex;
  width: 39px;
  height: 39px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title {
  color: var(--primary-002, #e64a19);
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/*mention*/
#mention {
  margin: auto;
  color: #000;
  text-align: center;

  /* Body/18 */
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/*bottomnav*/

.bottom-nav {
    display: flex;
    height: 66px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
