* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Pretendard", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    color: #000;
}

.wrapper {
    width: 375px;
    height: 812px;
    padding: 68px 23px;
    /* 상·하 68, 좌·우 23 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
}

.progress-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 50px;
}

.progress-bar {
    display: flex;
    flex: 1 0 auto;
    column-gap: 15px;
}

.bar {
    flex: 1 1 0;
    height: 6px;
    border-radius: 3px;
    background: #d9d9d9;
}

.bar.active {
    background: #ff5722;
}

.skip {
    align-self: flex-end;
    margin-top: 8px;
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    flex: 1 0 auto;
}

/* 타이틀 */
.title {
    color: #000;
    word-break: keep-all;
    text-align: center;
    /* Heading/20 */
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    line-height: 1.45;

    max-width: 329px;
    margin: 0 auto;
}

.mascot {
    width: 390px;
    height: 390px;
}

.nextbtn {
    font-family: "Pretendard Variable";
    width: 100%;
    max-width: 291px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background: #ff5722;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}