* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Pretendard", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
  color: #000;
}

.wrapper {
  width: 375px;
  height: 812px;
  padding: 68px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.progress-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 50px;
}

.progress-bar {
  display: flex;
  flex: 1 0 auto;
  column-gap: 15px;
}

.bar {
  flex: 1 1 0;
  height: 6px;
  border-radius: 3px;
  background: #d9d9d9;
}

.bar.active {
  background: #ff5722;
}

.skip {
  align-self: flex-end;
  margin-top: 8px;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  white-space: nowrap;
}
.skip:hover,
.skip:focus {
  color: #ff5722;
  transform: translateY(-1px);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  flex: 1 0 auto;
}

/* 타이틀 */
.title {
  color: #000;
  word-break: keep-all;
  text-align: center;
  /* Heading/20 */
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 1.45;

  max-width: 329px;
  margin: 0 auto;
}

.mascot {
  width: 390px;
  height: 390px;
}

.nextbtn {
  font-family: "Pretendard Variable";
  width: 100%;
  max-width: 291px;
  height: 44px;
  border: none;
  border-radius: 10px;
  background: #ff5722;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.15s ease-out;
  will-change: transform;
}

.nextbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.nextbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* 왼쪽부터 시작 */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 60%
  );
  transform: skewX(-25deg);
}
.nextbtn:hover::before {
  animation: shine 0.6s forwards;
}

.nextbtn:active {
  animation: press 0.26s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- Keyframes ---------- */
@keyframes shine {
  to {
    left: 200%;
  }
}

@keyframes press {
  0% {
    transform: translateY(-3px) scale(1);
  }
  30% {
    transform: translateY(0) scale(0.95);
  }
  60% {
    transform: translateY(-2px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
