/* 1.2accounts page - CSS */

/*body * {
  border: 1px solid black;
}*/


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

.screen {
  display: flex;
  width: 375px;
  height: 812px;
  padding: 113px 26px 80px 26px;
  box-sizing: border-box; /*외곽 크기 고정!*/
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #fff 9.59%, #ffddb7 100%);
}

/*main mention*/

.mention {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-bottom: 125px;
}

#mention1 {
  color: var(--primary-001, #ff5722);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#mention2 {
  color: #000;
  text-align: center;

  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*button*/

.button_container {
  display: flex;
  height: 106px;
  width: 100%;
  flex-direction: column;
  gap: 18px;
}

.button {
  display: flex;
  height: 44px;
  width: 100%;

  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#signup_button {
  background: var(--primary-001, #ff5722);
  color: #fff;
  border: none; 
}

#signin_button {
  border: 1px solid var(--primary-001, #ff5722);
  background: var(--back-003, #f9f9f9);
  color: var(--primary-001, #ff5722);
}
