/*body * {
  border: 1px solid black;
}*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

input {
  outline: none;
}

.screen {
  display: flex;
  width: 375px;
  height: 812px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  box-sizing: border-box; /*외곽 크기 고정!*/
  flex-shrink: 0;
}

/*top*/

.statusbar {
  height: 47px;
  text-align: center;
}

.topnav {
  display: flex;
  height: 51px;
  padding: 6px 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid var(--primary-001, #ff5722);
}

.topnav_inframe {
  display: flex;
  width: 354px;
  height: 39px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

button {
  border: none;
  background: none;
}

.icon_container {
  display: flex;
  width: 39px;
  height: 39px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title {
  color: var(--primary-002, #e64a19);
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*mention*/

.mention {
  display: flex;
  width: 324px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 82px;
  margin-bottom: 51px;
}

#mention {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*form*/

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.input_container {
  display: flex;
  width: 323px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.label {
  display: flex;
  height: 12.992px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: var(--text-002, #757575);
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 233.333% */
  letter-spacing: -0.5px;
}

.input_field {
  display: flex;
  width: 323px;
  height: 54px;
  padding: 13px 16px;
  box-sizing: border-box; /*외곽 크기 고정!*/
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  border: 1px solid var(--text-002, #757575);
  background: #fff;
}

.error {
  border: 1px solid var(--alert-red, #e7000b);
}

.input {
  display: flex;
  width: 85%;
  height: 28px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  outline: none;
  border: none;

  color: var(--text-002, #757575);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: -0.5px;
}

/*button*/

.button {
  display: flex;
  height: 44px;
  box-sizing: border-box; /*외곽 크기 고정!*/
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--text-002, #757575);
  background: var(--back-003, #f9f9f9);
  margin-top: auto;

  color: var(--text-002, #757575);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button.active {
  background: #ff5722;
  color: #fff;
  border: none;
  cursor: pointer;
}
